<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazyhitty.chdev.ks.firebasechat">

    <application
        android:name=".FirebaseChatMainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- [START fcm_default_icon] -->
        <!--
             Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <!--
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        -->
        <!-- [END fcm_default_channel] -->
        <activity
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".BookDescription" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".UserDetails" />
        <activity android:name=".ui.activities.SingleBookDisplayActivity" />
        <activity android:name=".ui.activities.BooksDisplayActivity" />
        <activity
            android:name=".SearchResult"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.UserListingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyService" />

        <activity android:name=".droidmentor.tabwithviewpager.ViewPager.CustomTabActivity" />
        <activity android:name=".ReferenceActivity" />
        <activity android:name=".UploadBook" />
        <activity android:name=".UploadImageActivity" />
        <activity android:name=".UploadCycle" />
        <activity android:name=".UploadElectronics" />
        <activity android:name=".gridView.DetailsGridLayout" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.CyclesDisplayActivity" />
        <activity android:name=".ImageViewCheck" />
        <activity android:name=".cardView.CardViewActivity" />
        <activity android:name=".GlobalActivity" />
        <activity android:name=".global.GlobalChat" />
        <activity android:name=".RemoveItem" />
        <activity
            android:name=".RemoveName"
            android:label="@string/title_activity_remove_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>